#game_weeks
  %h2 Game week links

  - @game_weeks.each do |game_week|
    %p
      %b
        = game_week.name
        &nbsp;
        &nbsp;
        %span.weak
          - if game_week.ongoing?
            (ongoing)
          - elsif game_week.finished?
            (finished)
          - else
            starts
            = l game_week.deadline_at.to_date, format: '%d %b'
      %br/
      %span.match-name All scoreboards:
      = link_to fiveaside_gw_url(game_week.access_token), fiveaside_gw_url(game_week.access_token)
      %br/
      - game_week.matches.each do |match|
        %span.match-name= match.name
        = link_to friendly_match_url(match), friendly_match_url(match)
        %br/
