.scoreboard
  %table
    %tr.headline
      %th
        = image_tag match.home_team.logo_path, class: 'home_logo'
        = link_to  match.home_team.fpl_url, target: '_blank' do
          %span.name_prefix FISO 5AS
          = match.home_team.name
      %th.score
        = match.home_score
        %span.spacer -
        = match.away_score
      %th
        = link_to  match.away_team.fpl_url, target: '_blank' do
          %span.name_prefix FISO 5AS
          = match.away_team.name
        = image_tag match.away_team.logo_path, class: 'away_logo'
    - match.h2h_matches.each do |h2h_match|
      - klass = cycle('odd','even')
      %tr{class: klass}
        %th
          - if match.started?
            = link_to h2h_match.home_manager.name, h2h_match.home_manager.gw_url(match.game_week.gw_no), target: '_blank'
          - else
            = link_to h2h_match.home_manager.name, h2h_match.home_manager.gw_url(match.game_week.gw_no - 1), target: '_blank'
          - if h2h_match.home_chip.present?
            %span.chip= h2h_match.home_chip
          - if h2h_match.home_ahead?
            %span.pts= "+#{h2h_match.score_diff}"
        %th.pts_total
          %span{class: h2h_match.home_ahead? ? 'ahead' : 'behind'}
            = h2h_match.home_score
          %span{class: h2h_match.away_ahead? ? 'ahead' : 'behind'}
            = h2h_match.away_score
        %th
          - if match.started?
            = link_to h2h_match.away_manager.name, h2h_match.away_manager.gw_url(match.game_week.gw_no), target: '_blank'
          - else
            = link_to h2h_match.away_manager.name, h2h_match.away_manager.gw_url(match.game_week.gw_no - 1), target: '_blank'
          - if h2h_match.away_chip.present?
            %span.chip= h2h_match.away_chip
          - if h2h_match.away_ahead?
            %span.pts= "+#{h2h_match.score_diff}"
      %tr{class: klass}
        %td.squad
          %span.playing_now{title: 'Ongoing match'}
            = h2h_match.playing_now(:home).collect{|p| p.info }.join(" ")
          %span.playing_later{title: 'Will play later'}
            = h2h_match.playing_later(:home).collect{|p| p.info }.join(" ")
          .info
            - h2h_match.info[:home].each do |msg|
              %div= msg
        %td
        %td.squad
          %span.playing_now{title: 'Ongoing match'}
            = h2h_match.playing_now(:away).collect{|p| p.info }.join(" ")
          %span.playing_later{title: 'Will play later'}
            = h2h_match.playing_later(:away).collect{|p| p.info }.join(" ")
          .info
            - h2h_match.info[:away].each do |msg|
              %div= msg
    - h_now = match.playing_now(:home).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
    - h_later = match.playing_later(:home).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
    - a_now = match.playing_now(:away).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
    - a_later = match.playing_later(:away).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
    - unless h_now.blank? && h_later.blank? && a_now.blank? && a_later.blank?
      %tr.footer{title: 'Differentiators present in more than one tie'}
        %td
          %span.playing_now= h_now
          = h_later
        %td
        %td
          %span.playing_now
            = a_now
          = a_later

  - if match.ongoing?
    .last_update
      Scores updated
      = time_ago_in_words(match.updated_at)
      ago
      - unless params[:action] == 'show'
        = link_to 'direct link', friendly_match_url(match)
