%table.score_sheet
  %tr.headline
    %th= @match.home_team.name
    %th.vs vs
    %th= @match.away_team.name
  - @match.h2h_matches.by_match_order.each do |match|
    %tr
      %th
        = link_to match.home_manager.name, match.home_manager.fpl_url + "/#{@match.game_week}", target: '_blank'
        - if match.home_ahead?
          %span.pts= "+#{match.score_diff}"
      %th.pts_total
        %span{class: match.home_ahead? ? 'ahead' : 'behind'}
          = match.home_score
        %span{class: match.away_ahead? ? 'ahead' : 'behind'}
          = match.away_score
      %th
        = link_to match.away_manager.name, match.away_manager.fpl_url + "/#{@match.game_week}", target: '_blank'
        - if match.away_ahead?
          %span.pts= "+#{match.score_diff}"
    %tr
      %td.squad
        .playing_now{title: 'Ongoing match'}
          = match.playing_now(:home).collect{|p| p.info }.join(" ")
        .playing_later{title: 'Will play later'}
          = match.playing_later(:home).collect{|p| p.info }.join(" ")
        .info
          - match.info[:home].each do |msg|
            %div= msg
      %td
      %td.squad
        .playing_now{title: 'Ongoing match'}
          = match.playing_now(:away).collect{|p| p.info }.join(" ")
        .playing_later{title: 'Will play later'}
          = match.playing_later(:away).collect{|p| p.info }.join(" ")
        .info
          - match.info[:away].each do |msg|
            %div= msg
  %tr.footer
    %td
      .playing_now
        = @match.playing_now(:home).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
      = @match.playing_later(:home).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
    %td
    %td
      .playing_now
        = @match.playing_now(:away).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
      = @match.playing_later(:away).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
