%table.score_sheet
  %tr.headline
    %th= link_to @match.home_team.name, @match.home_team.fpl_url, target: '_blank'
    %th.vs vs
    %th= link_to @match.away_team.name, @match.away_team.fpl_url, target: '_blank'
  - @match.h2h_matches.by_match_order.each do |match|
    %tr
      %th
        = link_to match.home_manager.name, match.home_manager.gw_url(@match.game_week), target: '_blank'
        - if match.home_ahead?
          %span.pts= "+#{match.score_diff}"
      %th.pts_total
        %span{class: match.home_ahead? ? 'ahead' : 'behind'}
          = match.home_score
        %span{class: match.away_ahead? ? 'ahead' : 'behind'}
          = match.away_score
      %th
        = link_to match.away_manager.name, match.away_manager.gw_url(@match.game_week), target: '_blank'
        - if match.away_ahead?
          %span.pts= "+#{match.score_diff}"
    %tr
      %td.squad
        %span.playing_now{title: 'Ongoing match'}
          = match.playing_now(:home).collect{|p| p.info }.join(" ")
        %span.playing_later{title: 'Will play later'}
          = match.playing_later(:home).collect{|p| p.info }.join(" ")
        .info
          - match.info[:home].each do |msg|
            %div= msg
      %td
      %td.squad
        %span.playing_now{title: 'Ongoing match'}
          = match.playing_now(:away).collect{|p| p.info }.join(" ")
        %span.playing_later{title: 'Will play later'}
          = match.playing_later(:away).collect{|p| p.info }.join(" ")
        .info
          - match.info[:away].each do |msg|
            %div= msg
  %tr.footer
    %td
      %span.playing_now
        = @match.playing_now(:home).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
      = @match.playing_later(:home).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
    %td
    %td
      %span.playing_now
        = @match.playing_now(:away).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')
      = @match.playing_later(:away).collect{|name,count| "#{count}x#{name}" if count > 1}.join(' ')

- if @match.ongoing?
  .last_update
    Updated
    = time_ago_in_words(@match.updated_at)
    ago
