%table.score_sheet
  - @matches.each do |match|
    %tr
      %th= match.home.name
      %th.pts_total
        %span{class: match.home_ahead? ? 'ahead' : 'behind'}
          = match.home.score
        %span{class: match.away_ahead? ? 'ahead' : 'behind'}
          = match.away.score
      %th= match.away.name
    %tr
      %td.squad
        - if match.home_ahead?
          %span.pts= "+#{match.score_diff}"
        = (match.home.remaining_players -  match.away.remaining_players).join(" ")
      %td
      %td.squad
        - if match.away_ahead?
          %span.pts= "+#{match.score_diff}"
        = (match.away.remaining_players -  match.home.remaining_players).join(" ")
